
$primary: #fcfcfc;
$secondary: rgb(177, 158, 75);
$black: #000;
$tercero: rgb(196, 176, 89);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(219, 216, 216);
}

a{
    text-decoration: none;
}

@mixin sombra{
        box-shadow: 2px 4px 4px rgb(7, 7, 7);
        transition: all 0.5s;
        cursor: pointer;
}