h2{
    font-family: 'Nosifer', sans-serif;
    text-shadow: 2px 4px 5px rgb(56, 173, 148) ;
}


.encabezado{
    height: 550px;
    overflow: hidden;
    position: relative;
    }
    
    
    
    div {
    .container-video{
        .video-portada{
        width: 100%;
        background-position: center center ;
    }
        }
    }
    
    .info {
        color: $primary;
        text-shadow: 2px 2px 2px #000;
        position: absolute;
        top: 50%;
        transform: translate(2%);
        width: 100%;
    
        a{
            color: $primary;
            background-color: $secondary;
        }
    }
    